%-*- mode: erlang -*-

{require_otp_vsn, "18|19|20"}.

%{sub_dirs, []}.

%{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.
%{eunit_compile_opts,[debug_info, {parse_transform, lager_transform}]}.

{eunit_opts,
 [ verbose,
   %% eunit truncates output from tests - capture full output in
   %% XML files in .eunit
   {report, {eunit_surefire, [{dir, "."}]}}
 ]}.

{eunit_compile_opts,[debug_info]}.

%% xref checks to run
{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.
% Excluded:  exports_not_used

{deps, []}.
